// custom variables
$primary: #c29948;

// import the functions & variables
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/_variables";

$client-a-theme-colors: (
  "altlight": #f2ebfa,
  "altdark": #522192
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import '../../../../node_modules/bootstrap/scss/bootstrap';
